@model RadioStore.WebApplication.Models.ProductDTOViewModel

@{
    ViewBag.Title = "Product";
    int[] itemsPerPageArray = new int[] { 5, 10, 15, 20 };
}

<div>
    <h2>Filters</h2>
</div>

<div id="partialViewProductsWithPagination">
    @Html.Partial("PartialProductListWithPagination", Model)
</div>

<div>
    @if (Model.IsAdmin)
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("New product", "NewProduct", null, new { @class = "btn btn-primary" })
    }
    <div class="dropdown" style="display:inline-block">
        <button type="button"
                class="btn dropdown-toggle btn-info"
                id="productPageItemCount"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            Items Per Page
        </button>
        <div class="dropdown-menu"
             aria-labelledby="productPageItemCount">
            @foreach (var item in itemsPerPageArray)
            {
                @Ajax.ActionLink($"{item}",
                                          "PartialProductListWithPagination",
                                          new { CategoryId = Model.CategoryId, itemsPerPageCount = item },
                                          new AjaxOptions { UpdateTargetId = "partialViewProductsWithPagination" },
                                          new { @class = "list-group-item list-group-item-action list-group-item-primary" })
            }
        </div>
    </div>
</div>

