@model RadioStore.WebApplication.Models.ProductDTOViewModel

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        <p class="text-xl-center">@item.ProductName</p>
                    </td>
                    <td>
                        <div class="product_img_for_table_s">
                            <img class="img-thumbnail img-fluid" src=@item.ProductImage alt="No image" />
                        </div>
                    </td>
                    <td>
                        <table class="table table-borderless text-sm-center">
                            <tbody>
                                @foreach (var p in item.Prices)
                                {
                                    <tr>
                                        <td>
                                            <p>@p.ProductCount+</p>
                                        </td>
                                        <td>@p.Price.ToString("C")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td>
                        @using (Html.BeginForm("AddProductToCart", "Cart", FormMethod.Post))
                        {
                            @Html.Hidden("productId",item.ProductId)
                            <div>
                                <input 
                                       type="number"
                                       name="productCount" 
                                       min=@item.Prices.Min(x => x.ProductCount)
                                       required>
                            </div>
                            <div>
                                <input type="submit" value="Add to Cart" class="btn btn-primary" />
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
