body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.categoryImg{

    width:5rem;
    height:5rem;
}

.product_img_for_table_s {
    width: 4rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropright {
    position: relative;
    display: inline-block;
}

.drophover-bottom {
    display: none;
    position: absolute;
    min-width: 200px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.drophover-right {
    display: none;
    position: absolute;
    min-width: 200px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    left: 100%;
    top: 0px;
    right: 10px;
    z-index: 1;
}

.dropdown:hover .drophover-bottom {
    display: block;
}