

@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Categories</h2>
    <div id="categoryList">
        @{ Html.RenderAction("GetChildCategoryList", "Category"); }
    </div>

</div>

<div>
    <h2>News</h2>
</div>