@using RadioStore.WebApplication.Models
@model IEnumerable<CategoryDTOViewModel>


<div id="categoryList" class="card-group d-flex justify-content-center">  
    
    @foreach (var item in Model)
    {
        <div class="card text-center">
            <div class="text-center">
                <img src=@item.Category.CategoryImage class="card-img-top categoryImg rounded">
            </div>
            <div class="card-body">
                @if (item.Childs.ToList().Count == 0)
                {
                    @Html.ActionLink(item.Category.CategoryName,
                                    "Index",                                   
                                    "Product",
                                    new { CategoryId = item.Category.CategoryId }, null)                       
                }
                else
                { 
                    @Ajax.ActionLink(item.Category.CategoryName,
                                    "GetChildCategoryList",
                                    new { CategoryId = item.Category.CategoryId },
                                    new AjaxOptions()
                                    {
                                        UpdateTargetId = "categoryList",
                                        InsertionMode = InsertionMode.Replace
                                    })
                }
            </div>
        </div>
    }
</div>
