<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RadioStoreEntities" connectionString="metadata=res://*/Entities.EFSportStore.csdl|res://*/Entities.EFSportStore.ssdl|res://*/Entities.EFSportStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HRIU93U;initial catalog=RadioStore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>