<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="RadioStoreEntities" connectionString="metadata=res://*/Entities.EFSportStore.csdl|res://*/Entities.EFSportStore.ssdl|res://*/Entities.EFSportStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HRIU93U;initial catalog=RadioStore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RadioStoreEntities" connectionString="metadata=res://*/Entities.EFSportStore.csdl|res://*/Entities.EFSportStore.ssdl|res://*/Entities.EFSportStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\1_My\ITstep\ASP.NET\home_work\RadioStore\RadioStore.WebApplication\App_Data\RadioStoreDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RadioStoreDBEntities" connectionString="metadata=res://*/Entities.RadioStoreEntities.csdl|res://*/Entities.RadioStoreEntities.ssdl|res://*/Entities.RadioStoreEntities.msl;        provider=System.Data.SqlClient;provider connection string=&quot;        data source=(LocalDB)\MSSQLLocalDB;        attachdbfilename=|DataDirectory|\RadioStoreDB.mdf;        integrated security=True;multipleactiveresultsets=True;        application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RadioStoreEF" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\RadioStore.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="RadioStoreEntities" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\RadioStore.mdf;        integrated security=True;        MultipleActiveResultSets=True;        App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <add name="RadioStoreEntities"
       connectionString="metadata=res://*/Entities.RadioStoreModel.csdl|res://*/Entities.RadioStoreModel.ssdl|res://*/Entities.RadioStoreModel.msl;
       provider=System.Data.SqlClient;provider connection string=&quot;
       data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\RadioStore.mdf;
       integrated security=True;multipleactiveresultsets=True;
       application name=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  
</configuration>